

body{
	padding-left: 50px;
	padding-right: 50px;
}

.center{
	text-align: center;
	justify-content: center;
}

.flex{
	display: flex;
	align-items: center;
}

.justify-center{
	justify-content: center;
}

hr{
	margin-top: 20px;
	margin-bottom: 20px;
}

.hr-content{
	margin: 0;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 80%;
	border: solid 3px #FF9900;
}

.content-title{
	color: red;
	font-weight: bold;
	font-family: 'Times';
	font-size: 14;
	margin-top: 10px;
	margin-bottom: 10px;
}

.pfp-container{
	margin-left: 30px;
	margin-right: 30px;
}

.profile-picture{
	width: 100%;
	margin-bottom: 20px;
	box-shadow: 10px 10px gray;
	min-height: 200px;
	max-height: 350px;
	min-width: 200px;
	max-width: 200px;
}

.item-container{
	width: 50%;
	margin-right: 20px;
	line-height: 2em;
}

.item{
	font-style: italic;
}

.item-data{
	font-weight: bold;
}

.notice{
	margin-top: 30px;
}

.basic-button{
	color: red;
	margin-left: 10px;
	padding: 5px;
	border-radius: 5px;
	border: solid 1px black;
}

.basic-button:hover{
	color:white;
	background: red;
}